body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", Arial Narrow, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

.container {
    width: 1200px;
    margin: auto;


}

a {
    text-decoration: none;
}

.site-navigation,
.catalog-list,
.footer-nav,
.footer-links,
.services,
.shipping-companies {
    list-style: none;
}

.site-navigation a,
    {
    color: #ffffff;
}

/*Цвета фона*/

.main-header {
    min-height: 278px;
    background-color: #f3f7f8;
    margin-bottom: 59px;
}

.interface-header {
    min-height: 42px;
    background-color: #293449;
    display: flex;
    justify-content: center;



}

.footer-wrap {
    min-height: 300px;
    background-color: #32425c;
    margin-bottom: 0;
}

.footer-wrap2 {
    min-height: 107px;
    background-color: #293449;
    margin-top: 0;
}




/*Главная навигация*/

.main-navigation {
    width: 940px;
    margin: auto;
    background: #32425c;
    box-sizing: border-box;

}

.site-navigation {
    margin: 0;
    padding: 0;
    font-size: 0;
    border-bottom: 5px solid #293449;

}

li {
    list-style: none;
    display: inline-block;
    /*    font-family: Arial,
sans-serif;*/
}

.site-navigation__link:hover {
    background: #293449;
}

.site-navigation__link {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 23px 32px;
    display: block;
}


.index-heading {
    background-color: #f9f5f0;
    min-height: 89px;
    width: 940px;
    display: flex;
    justify-content: space-between;
    padding: 30px;

}

.aside-index {
    background-color: #f4f7f9;
    width: 1200px;
    min-height: height: 522px;
}

textarea {
    width: 458px;
    min-height: 113px;
    font-family: "PT Sans", Arial, sans-serif;
}


.skroll {
    width: 400px;
    background: black;
    height: 5px;
    margin-top: 20px;
    position: relative;
}

.skroll_left,
.skroll_right {
    position: absolute;
    display: block;
    width: 20px;
    background: red;
    height: 20px;
    border-radius: 50%;
    top: -8px;
    z-index: 1;
}

.skroll_left {
    left: 50px;
}

.skroll_right {
    right: 50px;
}

.skroll_field {
    width: 293px;
    height: 5px;
    background: green;
    position: absolute;
    left: 54px;
}

.slider1 {}

.slider2 {}

.copyright {

    margin: 0;
}

.slider {
    width: 620px;
    min-height: 266px;
    background-image: url(../img/slider1.jpg);
    background-image: url(../img/slider2.png);
}

.delivery-pic {
    width: 468px;
    height: 261px;
    background-image: url(../img/delivery%20car.png);
}

.guarantee-pic {
    width: 389px;
    height: 283px;
    background-image: url(../img/guarantee.jpg);
}

.page-title {
    width: 940px;
    min-height: 89px;
    background-color: #f3f7f8;
    display: flex;
}

.filter-title {
    width: 220px;
    min-height: 38px;
    background-color: #f7f3ec;
    display: flex;
}

.sorting {
    width: 700px;
    min-height: 38px;
    background-color: #f7f3ec;
}

.sorting-title {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    line-height: 5px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 20px;
}

.sorting-price {
    font-family: PTSans, sans-serif;
    color: #ee3643;
    font-size: 13px;
    font-weight: 400;
    line-height: 5px;
    text-align: left;
    text-transform: uppercase;
}

.sorting-type {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 5px;
    text-align: left;
    text-transform: uppercase;
}

.sorting-functional {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 5px;
    text-align: left;
    text-transform: uppercase;
}

.submit-button {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 5px;
    text-align: center;
    text-transform: uppercase;
}

.filter-lead {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    line-height: 8.5px;
    text-align: left;
    text-transform: uppercase;
}

.yellow-nav {}

.page-title-text {

    color: #32425c;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 32px;
}

.aside-sorting-text {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}

.catalog-item-title {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

.catalog-category {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

.catalog-item-text {
    font-family: PTSans, sans-serif;
    color: #999999;
    font-size: 17px;
    font-weight: 700;
    line-height: 5px;
    text-align: center;
}

.catalog-new-price {
    font-family: PTSans, sans-serif;
    color: #999999;
    font-size: 17px;
    font-weight: 700;
    line-height: 5px;
    text-align: center;

}

.catalog-old-price {
    color: #ffffff;
    font-family: PTSans, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 5px;
    text-align: center;

}

.pagination-next {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 5px;
    text-align: center;
}

.article-title {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.article-text {
    font-family: "PTSans", sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.header-logo {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: palegreen;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.5px;
    text-align: left;

    padding-top: 13px;
}

.login-form {}

.bookmarks {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffffff;

    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.cart {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffffff;
    /*    потом исправим на белый*/
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.order {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffffff;
    /*    потом исправим на белый*/
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.h1-text {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    text-align: left;
    width: 204px;
    padding-top: 49px;
    padding-bottom: 44px;
}

.phone {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #e9292a;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.header-adress {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #32425c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 270px;
}

.usermenu {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #000000;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.popular-title {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #32425c;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.text-title {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #32425c;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
}


.all-text {
    display: block;
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    /*    line-height: 5.135px;*/
    text-transform: uppercase;
    width: 250px;
    /*    min-height: 38px;*/
    text-align: center;
    background-color: #ee3643;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 15px;

}

.h3-title {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
}

.delivery-title {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #32425c;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
}

.small-text {

    font-family: "PTSans", sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;


}

.services-list {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #32425c;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.footer-logo {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-left: 55px;
    padding-top: 13px;
}

.footer-links {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #f4f7f9;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.footer-links2 {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffd180;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.footer2-text {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.footer2-yellow {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffd180;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.text-form {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #000000;
    font-size: 17.98px;
    font-weight: 400;
    line-height: 5.135px;
    text-align: left;
}

.catalog-items {
    width: 700px;
    margin: 20px auto;
}

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.catalog-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.visually-hidden {
    display: none;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 940px;
}

.header-wrapper2 {
    display: flex;
    justify-content: space-between;
}

.header-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
}

.header-contacts-wrapper {
    display: flex;
    justify-content: center;
}

.promo-row1 {
    display: flex;
    justify-content: space-between;
}

.promo-row2 {
    display: flex;
    justify-content: space-between;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
