body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", Arial Narrow, sans-serif;
    font-size: 13px;
    /*    line-height: 24px;*/
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

.container {
    margin: auto;
}

a {
    text-decoration: none;
}

.site-navigation,
.catalog-list,
.footer-nav,
.footer-links,
.services,
.shipping-companies {
    list-style: none;
}

.site-navigation a,
    {
    color: #ffffff;
}

/*Цвета фона*/

.main-header {
    min-height: 278px;
    background-color: #f3f7f8;
}

.interface-header {
    height: 42px;
    background-color: #293449;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer-wrap {
    min-height: 197px;
    background-color: #32425c;
    margin-bottom: 0;
}

.footer-wrap2 {
    min-height: 107px;
    background-color: #293449;
    /*    margin-top: 48px;*/
}


/*Главная навигация*/

.main-navigation {
    width: 940px;
    margin: auto;
    background: #32425c;
    box-sizing: border-box;

}

.site-navigation {
    margin: 0;
    padding: 0;
    font-size: 0;
    border-bottom: 5px solid #293449;

}

li {
    list-style: none;
    display: inline-block;
    /*    font-family: Arial,
sans-serif;*/
}

.site-navigation__link:hover {
    background: #293449;
}

.site-navigation__link {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 17px 32px;
}


.index-heading {
    background-color: #f9f5f0;
    /*    min-height: 89px;*/
    width: 940px;
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.aside-index {
    background-color: #f4f7f9;
    min-height: 522px;
    margin-bottom: 82px;
}

textarea {
    width: 458px;
    min-height: 113px;
    font-family: "PT Sans", Arial, sans-serif;
}


.skroll {
    width: 400px;
    background: black;
    height: 5px;
    margin-top: 20px;
    position: relative;
}

.skroll_left,
.skroll_right {
    position: absolute;
    display: block;
    width: 20px;
    background: red;
    height: 20px;
    border-radius: 50%;
    top: -8px;
    z-index: 1;
}

.skroll_left {
    left: 50px;
}

.skroll_right {
    right: 50px;
}

.skroll_field {
    width: 293px;
    height: 5px;
    background: green;
    position: absolute;
    left: 54px;
}

.slider1 {}

.slider2 {}

.copyright {

    margin: 0;
}

.slider {
    width: 620px;
    min-height: 266px;
    background-image: url(../img/slider1.jpg);
    background-image: url(../img/slider2.png);
}

.delivery-pic {
    /*
    width: 468px;
    height: 261px;
*/
    background: url('../img/delivery%20car.png') no-repeat right 69px;
    margin: 0;
}

.guarantee-pic {
    width: 389px;
    height: 283px;
    background: url('../img/guarantee.jpg') no-repeat top right;
}

.page-title {
    width: 940px;
    min-height: 89px;
    background-color: #f3f7f8;
    display: flex;
    padding: 0;
    margin-bottom: 25px;
}

.filter-title {
    width: 220px;
    min-height: 38px;
    background-color: #f7f3ec;
    display: flex;
}

.sorting {
    width: 700px;
    min-height: 38px;
    background-color: #f7f3ec;
}

.sorting-title {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    line-height: 5px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 28px;
    margin-left: 20px;
}

.sorting-price {
    font-family: PTSans, sans-serif;
    color: #ee3643;
    font-size: 13px;
    font-weight: 400;
    line-height: 5px;
    text-align: left;
    text-transform: uppercase;
}

.sorting-type {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 5px;
    text-align: left;
    text-transform: uppercase;
}

.sorting-functional {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 5px;
    text-align: left;
    text-transform: uppercase;
}

.submit-button {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 5px;
    text-align: center;
    text-transform: uppercase;
}

.filter-lead {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    line-height: 8.5px;
    text-align: left;
    text-transform: uppercase;
}

.yellow-nav {}

.page-title-text {
    color: #32425c;
    /*    font-size: 30px;*/
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 32px;
}

.aside-sorting-text {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}

.catalog-item-title {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

.catalog-category {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

.catalog-item-text {
    font-family: PTSans, sans-serif;
    color: #999999;
    font-size: 17px;
    font-weight: 700;
    line-height: 5px;
    text-align: center;
}

.catalog-new-price {
    font-family: PTSans, sans-serif;
    color: #999999;
    font-size: 17px;
    font-weight: 700;
    line-height: 5px;
    text-align: center;

}

.catalog-old-price {
    color: #ffffff;
    font-family: PTSans, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 5px;
    text-align: center;

}

.pagination-next {
    font-family: PTSans, sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 5px;
    text-align: center;
}

.article-title {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.article-text {
    font-family: "PTSans", sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 938px;
    padding-bottom: 73px;
}

.header-logo {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    display: block;
    text-decoration: none;
    width: 220px;
    text-transform: uppercase;
    background-color: #ee3643;
    padding: 7px 0;
    border-bottom: 5px solid #b52933;
    position: absolute;
}

.login-form {}

.bookmarks {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffffff;

    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding-left: 35px;
    position: relative;
}

.bookmarks::before {
    content: "";

    position: absolute;
    top: 0px;
    left: 10px;

    width: 14px;
    height: 16px;

    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}

.cart {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffffff;
    /*    потом исправим на белый*/
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    /*    padding-top: 13px;*/
    padding-left: 35px;
    position: relative;
}

.cart::before {
    content: "";

    position: absolute;
    top: 0px;
    left: 10px;

    width: 15px;
    height: 15px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}

.order {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffffff;
    /*    потом исправим на белый*/
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    /*    padding-top: 13px;*/
}

.h1-text {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    text-align: left;
    width: 204px;
    padding-top: 49px;
    /*    pad ding-bottom: 44px;*/
    padding-left: 55px;
}

.phone {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #e9292a;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.header-adress {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #32425c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 270px;
    padding-top: 59px;
    padding-bottom: 44px;
    display: flex;
    flex-direction: column;
}

.usermenu {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #000000;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    display: block;
    width: 121px;
    padding: 7px 0;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    border: none;
    box-sizing: border-box;
}

.popular-title {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #32425c;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.text-title {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #32425c;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
}


.all-text {
    display: block;
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    /*    line-height: 5.135px;*/
    text-transform: uppercase;
    width: 250px;
    /*    min-height: 38px;*/
    text-align: center;
    background-color: #ee3643;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 8px;

}

.contacts-title {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 37px;
    margin-top: 0;
    padding: 0;
}

.delivery-title {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #32425c;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
}

.small-text {
    font-family: "PTSans", sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.services-list {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #32425c;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 20px;
    background: #32425c;
    border-bottom: 1px solid #4e637c;
}

.footer-logo {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    /*    line-height: 30px;*/
    text-align: center;
    /*
    margin-left: 55px;
    margin-top: 13px;
*/
    display: block;
    text-decoration: none;
    width: 220px;
    text-transform: uppercase;
    background-color: #ee3643;
    padding: 15px 0;
    border-bottom: 5px solid #b52933;
    margin: 0;


}

.footer-links {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #f4f7f9;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-left: 59px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-links:last-child {
    padding-right: 0;
}

.footer-links2 {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffd180;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-left: 59px;
    padding-right: 30px;
}

.footer-links2:last-child {
    padding-right: 0;
}

.footer2-text {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin-top: 39px;
    padding: 0;

}

.footer2-yellow {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffd180;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.text-form {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #000000;
    font-size: 17.98px;
    font-weight: 400;
    line-height: 5.135px;
    text-align: left;
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin: 20px auto;
    margin: 0;
    list-style: none;
    margin-bottom: 25px;
    padding: 0;
}

.catalog-item {

    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    line-height: 20px;
    font-weight: bold;
    text-align: center;

}

.catalog-item .title {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.catalog-item .discount {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #999;
    text-decoration: line-through;
}

.catalog-item .price:after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
}

.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}

.catalog-item .actions .bookmark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;

}

.catalog-item .actions {
    display: none;
}

.catalog-item:hover .actions {
    display: block;
}


.catalog-item:nth-child(4n) {
    margin-right: 0;
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.catalog-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
    display: none;
}

.catalog-item:hover .actions {
    display: block;
}


.visually-hidden {
    display: none;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
}

.header-wrapper2 {
    display: flex;
    justify-content: space-between;
}

.header-contacts {
    display: flex;
    justify-content: space-between;
    width: 940px;
}

.header-contacts-wrapper {
    display: flex;
    justify-content: center;
}

.promo-row1 {
    display: flex;
    justify-content: space-between;
}

.promo-row2 {
    display: flex;
    justify-content: space-between;
}

.catalog-list {
    display: flex;
    /*    flex-wrap: wrap;*/
    justify-content: space-between;
    padding: 0;
    margin-top: 26px;
    margin-bottom: 20px;
}

.catalog-item .actions {
    display: none;
}

.catalog-item:hover .actions {
    display: block;
}

.catalog-item .image {
    width: 218px;
    height: 168px;
}

.catalog-item .image img {
    max-width: 100%;
}


.popular-products {
    width: 940px;

}

.index-heading-wrap {
    width: 940px;
    display: flex;
    /*    flex-direction: column;*/
    justify-content: space-between;


}

.container1 {
    width: 940px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.block-manufacturers {
    width: 220px;
    height: 145px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    position: relative;
    background-repeat: no-repeat;

}

.pic-manufacturers {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.manufacturers {
    padding: 0;
}

.container2 {

    background: #f4f8f9;
    width: 940px;
    margin: auto;
}

.services {
    width: 245px;
    display: flex;
    flex-direction: column;
    padding: 35px 0;
}

.sliders {
    width: 620px;
    min-height: 285px;
}

.slider-item {
    height: 100%;
}

.guarantee,
.credit {
    display: none;
}

.credit {
    background: url('../img/credit.jpg') no-repeat top right;
}

.aside-services {
    display: flex;
    flex-direction: column;
    width: 470px;
    min-height: 96px;
    margin-bottom: 39px;
}

.modal-close {}

.services-wrapper {
    display: flex;
    /*    flex-direction: row;*/
    justify-content: space-between;
    min-height: 356px;
}

.text1 {
    font-family: "PTSans", sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.text2 {
    font-family: "PTSans", sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 295px;
    margin: 0;
    padding: 0;
}

.guarantee-text {
    font-family: "PTSans", sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.credit-text {
    font-family: "PTSans", sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.text3 {
    font-family: "PTSans", sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 240px;
    margin: 0;
    padding: 0;
}

.text4 {
    font-family: "PTSans", sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.about-wrapper {
    display: flex;
    justify-content: space-between;
}

.about-us-index {
    width: 519px;
    min-height: 293px;
}

.contacts-index {
    width: 300px;
    min-height: 158px;
}

.footer-row1 {
    display: flex;
    justify-content: space-between;
    height: 68px;
    margin-bottom: 10px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}

.footer-adress {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #f4f7f9;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-left: 4px;
    width: 332px;
    height: 40px;
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    width: 282px;
    padding-top: 46px;
    padding-bottom: 67px;
}

.search-wrap {
    box-sizing: border-box;
    margin-left: 220px;
    display: flex;
    padding: 10px 15px 10px 50px;
    width: 270px;
}

.footer-nav2 {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 18px;
}

.footer-row2 {
    display: flex;
    justify-content: space-between;
}

.breadcrumbs {
    height: 59px;
    margin: 0;
}

.respond {
    margin-top: 39px;
    width: 135px;
}

.developed {
    margin-top: 39px;
    width: 96px;
}

.footer-social {
    margin-top: 39px;
    padding: 0;

}

.filters {
    width: 220px;

    /* Временно для сетки */
    min-height: 762px;
}

.catalog-wrap {
    width: 700px;
    min-height: 1149px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.catalog-item-position:nth-child(3n) {
    margin-right: 0;
}

.pagination-list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.article {
    background-color: #f2f6f8;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.container-column {
    display: flex;
    flex-direction: column;
}

.about-title {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 37px;
    margin-top: 0;
    padding: 0;
}

.interface-cart {
    display: flex;
    padding: 14px 10px 13px 10px;
}

.interface-order {
    display: flex;
    padding: 14px 22px 13px 20px;
    background-color: #63a63e;
}

.interface-bookmarks {
    display: flex;
    padding: 14px 15px 13px 17px;
}

.search {
    font-family: "Cuprum", "Arial Narrow", sans-serif;
    color: #ffffff;

    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    /*    padding-left: 34px;*/
}

.search-wrap:hover {
    background-color: #212a3a;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #ffffff;
    font-family: "Cuprum", "Arial Narrow", sans-serif;
}

::-moz-placeholder {
    color: #ffffff;
    font-family: "Cuprum", "Arial Narrow", sans-serif;
}

:-ms-input-placeholder {
    color: #ffffff;
    font-family: "Cuprum", "Arial Narrow", sans-serif;
}

:-moz-placeholder {
    color: #ffffff;
    font-family: "Cuprum", "Arial Narrow", sans-serif;
}

::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}


.search-form {
    box-sizing: border-box;
    margin-left: 220px;
    display: flex;
    padding: 10px 15px 10px 50px;
    width: 270px;
}

.search-icon {
    background-image: url('../img/icon-search.svg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0px center;
    background-color: white;
    padding-left: 30px;
    border: none;
    opacity: 0.3;
}
